@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(https://i.postimg.cc/YqQd6M30/5852824.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: rubik;
    transition: all 0.5s;
    position: relative;

}

header {
    width: 100vw;
    height: 70px;
    background-color: rgba(34, 34, 34, 0);
    position: fixed;
}

img {
    width: 3em;
    height: 3em;
    filter: invert(55%) sepia(100%) saturate(7490%) hue-rotate(281deg) brightness(99%) contrast(127%);
}

.navbar {
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 30px;
    color: #d608ff;

}

.nav-list a {
    color: gray;
    text-decoration: none;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 5px;
    display: block;
}

.nav-list li a:hover {
    color: #d608ff;
    border: 2px solid #d608ff;
    animation: ButtonPop 500ms ease-in-out;
    /* font-size: large; */
}

main {
    width: 200vw;
    height: calc(100vh-70px);
    display: flex;
    padding-top: 70px;

}

.page {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#pg2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.card {
    border: 2px solid #d608ff;
}



@keyframes ButtonPop {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}